@font-face {
  font-family: "Arita-buri-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arita-buri-SemiBold";
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: 300vh;
  background: #000;
}

#section {
  width: 100% !important;
}
#section .capture-canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#section #capture {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 619px;
  height: 929px;
}
#section #capture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
#section .remember {
  z-index: 999;
  display: block;
  width: 80%;
  word-break: keep-all;
  word-wrap: break-word;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3vw;
  position: absolute;
  bottom: 180vh;
  left: 25%;
  margin: 0px auto;
  letter-spacing: 0.05em;
}
#section .remember .w {
  opacity: 0;
}
#section .support {
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  display: flex;
  z-index: 1000;
}
#section .support a {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  text-align: center;
  font-size: 0.54rem;
  color: #727272;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
#section .support a:hover {
  transform: scale(1.1);
}
#section .support a img {
  margin-top: 10px;
  width: 50%;
  height: 50%;
}